<!DOCTYPE html>
<html lang="eng">
<head>
<title>ColFox</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
	<script src="bootstrap/js/bootstrap.min.js"></script>
<div id="header">
</div>

<div class="container">
	<div class="masthead">
		<h3 class="muted">ColFox</h3>
		<div class="navbar" id="navigation_bar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li class="active">
						<a href="index.html">Home</a>
						</li>
						<li>
						<a href="templates/about.html" >About</a>
						</li>
						<li>
						<a href="templates/projects.html" >Projects</a>
						</li>
						<li>
						<a  href="templates/blog.html" >Blog</a>
						</li>
						<li>
						<a href="templates/contact.html" >Contact</a>
						</li>
                        <li>
                        <a href="templates/login.html">Login</a>
                        </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
